{% extends 'layout.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5px">
            <div id="main" class="grafico"></div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>

    <scripts>

    </scripts>
{% endblock %}
